<div class="outermost-container">
  <div class="inner-container">
    <div class="welcome-align">
      <h1 class="header">
        REMINDER APP
      </h1>
    </div>


    <form >

      <div class="container">
        <div> <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="username" required>
        </div>
        <div>
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="password" required>
        </div>
        <button type="submit" (click)="checkUser()">Login</button>

      </div>

      <div class="container"  class="reg-align">
        <div class="col-sm-12 login-error-msg" [hidden]="!errorMsg">
          <span class="">{{errorMsg}} </span>
        </div>
        <!--<a [routerLink]="['register']">Register</a>-->
          <!-- <a href="#" routerLink="/register">Register </a> -->
         </div>
       </form>




     </div>
   </div>


   <br><br><br><br><br><br><br><br><br><br><br><br>