/* You can add global styles to this file, and also import other style files */
@import '~materialize-css/dist/css/materialize.min.css';
/*.outermost-container{background-color: #6c9aa0;height: 677px;padding-top: 100px;}*/
.outermost-container{padding-top: 100px;}
.inner-container{background-color: #eafeff;border:4px ridge #6c9aa0; margin: -10px 605px;padding-top: 1px;height: 450px}
.sub-container{text-align:center}
.welcome-align{text-align: center}
.green-button{background: linear-gradient(to bottom, #57db55 1%,#069906 100%);padding: 10px 20px;color: #fff;font-weight: 500;
              line-height: 15px;font-size: 14px;border-radius: 9px;border: 0px;}
.reset-btn{ background: linear-gradient(to bottom,#c3955d 1%,#ad7321 100%);padding: 10px 20px;color: #fff;font-weight: 500;
    line-height: 15px;font-size: 14px;border-radius: 9px;border: 0px;margin-left: 100px;}
.input-box{margin-left: 18px}
.btn-div-align{margin-top: 20px;margin-bottom: 20px;}
.bold-font{font-weight:700;}


.header{font-size: 24px;padding-bottom: 5px;font-weight: 500;color:#307bb3}
.input-box-username{margin-left: 15px}
.input-box-password{margin-left: 22px}
.login-button{background: linear-gradient(to bottom, #57db55 1%,#069906 100%);padding: 10px 20px;color: #fff;font-weight: 500;cursor: pointer;
              line-height: 15px;font-size: 14px;border-radius: 9px;border: 0px;}
.blue-button{background: linear-gradient(to bottom, #2e8dd1 1%,#307bbe 100%);padding: 10px 20px;color: #fff;font-weight: 500;cursor: pointer;
line-height: 15px;font-size: 14px;border-radius: 9px;border: 0px;}
.forgot-pswd{cursor:pointer; color:#275ec3;}
.new-user{cursor:pointer; color:#275ec3; margin-left: 20px;}
.input-box-event-name{margin-left: 15px}
.input-box-event-time{margin-left: 20px}
.input-box-event-day{margin-left: 22px}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.container{background-color: #eafeff}