<div class="outermost-container">

  <div class="inner-container">
    <div class="welcome-align">
      <h1 class="header">
        Sign Up To Reminder App
      </h1>
    </div>

    <div class="sub-container">
      <label>User Name</label>
      <input type="text" class="input-box-username">
      <br><br>
      <label>Password</label>
      <input type="password" class="input-box-password">

      <div class="btn-div-align">

        <button class="login-button">REGISTER</button>
        <span class="popuptext" id="myPopup">We have sent the password to your Registered 
     email Id, Please check!</span>
      </div>
    </div>

  </div>
</div>